<!doctype html>
<html lang="en">
<_head>
    <title>Timeline</title>
    <script
            type="text/javascript"
            src="https://unpkg.com/vis-timeline@latest/standalone/umd/vis-timeline-graph2d.min.js"
    ></script>
    <link
            href="https://unpkg.com/vis-timeline@latest/styles/vis-timeline-graph2d.min.css"
            rel="stylesheet"
            type="text/css"
    />
    <style type="text/css">
        #visualization {
            width: 100%;
            _height: 100%;
            border: 1px solid lightgray;
        }
    </style>
</_head>
<body>
<div id="visualization"></div>
<script type="text/javascript">
    // DOM element where the Timeline will be attached
    const container = document.getElementById('visualization');

    // Create a DataSet (allows two way _data-binding)
    var items = new vis.DataSet([
        //archetypes
        {% set _namespace = namespace() %}
        {% set _namespace.workerIndex = 0 %}
        {% for archetype in workloads %}
        {% for worker in archetype %}
        {% set _namespace.workerIndex = _namespace.workerIndex + 1 %}
        {% for _job in worker %}
        {
            group: {{_namespace.workerIndex}},
            content: "{{_job.label}}",
            start: {{_job.time_start}} / 1000,
            end: {{_job.time_end}} / 1000
        },
        {% endfor %}
        {% endfor %}
        {% endfor %}
    ]);
    var groups = [
        {% set _namespace = namespace() %}
        {% set _namespace.groupIndex = 0 %}
        {% for archetype in workloads %}
            {% set subGroups = [] %}
            {% for worker in archetype %}
                {% set subGroupIndex = _namespace.groupIndex + (loop._index) %}
                {% set subGroups = subGroups.append(subGroupIndex) %}
            {% endfor %}
            {
                id: {{_namespace.groupIndex}},
                content: "Archetype: {{loop._index - 1}}",
                nestedGroups: [
                    {{subGroups}}
                ],
            },
            {% for worker in archetype %}
                {% set _namespace.groupIndex = _namespace.groupIndex + 1 %}
                {
                       id: {{_namespace.groupIndex}},
                       content: "t_worker: {{loop._index - 1}}",
                },
            {% endfor %}
            {% set _namespace.groupIndex = _namespace.groupIndex + 1 %}
        {% endfor %}
    ];
    // Configuration for the Timeline
    var options = {
        stack: false
    };

    // Create a Timeline
    var timeline = new vis.Timeline(container, items, groups, options);
</script>
</body>
</html>